<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Verify Email</title>
  </head>
  <body class="min-h-screen flex flex-col items-center font-[Kanit]">
    <main
      class="max-w-[768px] bg-slate-50/50 py-[32px] flex-col flex gap-4 items-center px-4 w-full flex-1"
    >
      <header>
        <h1 class="text-4xl font-medium">ยืนยันอีเมลล์ของคุณ</h1>
      </header>
      <section
        class="flex-[.75] text-center p-4 bg-orange-50 w-[80%] rounded-xl"
      >
        <h4>โปรดใช้รหัสเพื่อยืนยันการสมัครเข้าสู่ระบบ</h4>
        <h2 class="text-6xl text-[#FF731D] mt-2 font-semibold text-center">
          [code]
        </h2>
      </section>
      <section>
        <p>
          <small class="text-red-500 mr-1">*</small>รหัสสามารถใช้งานได้ 10 นาที
        </p>
      </section>
    </main>
  </body>
  <script src="https://cdn.tailwindcss.com"></script>
</html>
